<div class="banner grid-block v-align">
    <div class="align-center vertical grid-block ">
        <div class="grid-block">
            <h1>Best Online Course</h1>
        </div>
        <div class="grid-block">
            <div class="small-12 medium-5 large-4 grid-content">
                <label>
                    <span class="inline-label">
                    <input type="search" placeholder="Search a thing" ng-model="search">
                    <a class="button" ng-click="performSearch()">Search</a>
                    </span>
                </label>
            </div>
        </div>
        <div class="grid-block">
            <a ui-sref="courses">or view catalog</a>
        </div>
    </div>
</div>