.home{
  margin: 40px auto 0 auto;
  @include breakpoint(small){
    width: 290px;
  }
  @include breakpoint(medium){
    width: 580px;
  }
  @include breakpoint(large){
    width: 1160px;
  }
  .text-center{
    margin-bottom: 30px;
  }
}
.product-card{
  width: 100%;
  height: 350px;
  img{
    min-height: 150px;
    width: 100%;
    background: #30ace1;
  }
}